.cloudOrbit {
  position: absolute;
  width: calc(100vw / var(--phi) * 3);
  height: calc(100vw / var(--phi) * 3);
  border-radius: 50%;
  top: 90vh;
  left: 0;
  z-index: 3;
}

@media screen and (orientation: landscape) {
  .cloudOrbit {
    width: calc(100vh / var(--phi) * 3);
    height: calc(100vh / var(--phi) * 3);
  }
}