.cloudOrbit {
  position: absolute;
  width: calc(100vw / var(--phi) * 3);
  height: calc(100vw / var(--phi) * 3);
  border-radius: 50%;
  border: 1px solid white;
  top: 100vh;
  left: 0;
  z-index: 3;
  /* inline: transform: translate(-50%, -50%); */
}

@media screen and (orientation: landscape) {
  .cloudOrbit {
    width: calc(100vh / var(--phi) * 3);
    height: calc(100vh / var(--phi) * 3);
  }
}

.cloud {
  position: absolute;
  width: 100px;
  height: calc(100px / var(--phi));
  background: white;
  z-index: 3;
  cursor: pointer;
  /* inline: transform: translate(-50%, -50%); */
}

.cloud.fullscreen {
  position: absolute;
  width: 90vw;
  height: 90vh;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);

  padding: 2rem;
}

.selected {
  border: 1px solid yellow;
}