@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

.cloud {
  position: absolute;
  width: 200px;
  height: calc(200px / var(--phi));
  z-index: 3;
  cursor: pointer;
  /* inline: transform: translate(-50%, -50%); */
  overflow:visible;
}

.cloud svg {
  overflow:visible;
  position: relative;
}

.cloud svg g {
  transform: translate(-4px, -100px) scaleY(1.5);
}

.cloud.fullscreen {
  position: absolute;
  /* width: 90vw; */
  width: max(90vw, 100vw / var(--phi));
  height: 90vh;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  cursor: auto;
  z-index: 5;
}

.cloudIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}

@include for-tablet-portrait-up {
  .cloud.fullscreen {
    width: min(90vw, 100vw / var(--phi));
    padding: 2rem;
  }
}

.cloud:not(.selected) path {
  stroke: transparent;
}

.cloud.selected path {
  stroke: yellow;
}

.title {
  font-size: 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Arial Black';
  line-height: 1;
}
  
@include for-tablet-portrait-up {
  .title {
    font-size: 1.3rem;
  }
}