@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

:root {
  --phi: 1.618;
  --night-sky-blue: rgb(12, 20, 69, 1);

  --moon-position-top: 3rem;
  --moon-position-right: 3rem;
  --moon-position: top calc(var(--moon-position-top) + 3.5rem) right calc(var(--moon-position-right) + 3.5rem);
  --moon-light-gradient-color-1: rgba(92,84,164,.4);
  --moon-light-gradient-color-2: rgba(76,64,142,.4);
  --moon-light-gradient-color-3: rgba(56,40,92,.4);
  --moon-light-gradient-color-4: rgb(12, 20, 69, 0);
  --moon-light-gradient: radial-gradient(circle farthest-side at var(--moon-position), var(--moon-light-gradient-color-1) 13%, var(--moon-light-gradient-color-2) 21%, var(--moon-light-gradient-color-3) 34%, var(--moon-light-gradient-color-4) 55%);
  --flashlight-color: rgba(255, 215, 0, .15);

  --mobile-s: 320px;
  --mobile-m: 375px;
  --mobile-l: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --laptop-l: 1440px;
  --4k: 2560px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, footer {
  font-family: Arial Black, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

article {
  overflow-y: auto;
  height: calc(100% - 3rem);
  width: 100%;
  margin-top: 2rem;
  margin-bottom: .8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  color: var(--night-sky-blue);
}

article *:not(p):not(.p) {
  width: 100%;
}

article ul {
  list-style: none;
}

article .p ul {
  padding-left: 1rem;

  li:not(:first-child) {
    margin-top: .5rem;
  }
}

article p, article .p {
  width: 100%;
  margin-right: auto;
}

article a {
  color: var(--moon-light-gradient-color-2);
  cursor: pointer;
}

article a:hover {
  text-decoration: underline;
}

@include for-tablet-landscape-up {
  article p, article .p {
    width: calc(50% - 3rem);
  }
}

@include for-tablet-landscape-up {
  article {
    padding: 0 3rem;
  }
}